* {
	box-sizing: border-box;
}

body {
	background-color: rgb(3, 121, 3);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;

}

#ui {
	position:fixed;
	padding: 0;
	left: 50%;
	transform: translateX(-50%);
	border-width: 2px;
	border-color: rgb(255, 255, 255);
	background: rgba(0, 43, 122, 50%);
	border-style: ridge;
	bottom: 1vh;
	width: 80%;
	display: flex;
	align-items: center;
	justify-items:center;
	flex-wrap: wrap;
	flex-flow: row wrap-reverse;
	
}

#message {
	text-align: center;
	font-size: x-large;
	font-weight: bold;
	margin-bottom: 3vh;
	padding: 0.4%;
	background-color: white;
	border-width: 1px;
	border-style: solid;
	border-color: black;
}

button {
	height: 60px;
	width: 60px;
	font-size: 1em;
}

.card {
	padding-inline:calc(0.1%);
	max-height: 20vh;
}

.points>div {
	color:rgb(255, 255, 255);
	margin-top: 2vh;
	font-size: 4vh;
	font-weight: bold;
}

#player-cards {
	margin-top: 10vh;
}


#scores-container, #buttons-container {
	display: flex;
	align-items: center;
	justify-items: center;
	flex-direction:  column;
	padding:1%;
	margin:5px;
	flex-wrap: wrap;
	flex-flow: wrap;
	gap: 30px;
}

#buttons-container {
	flex: 2;
}

#buttons-container>* {
	flex: 1 1;

}

#scores-container {
	flex: 1 1;
}

 #scores-container>* {
	flex: 1 1;
	font-weight: bold;
}

#wins {
	color: rgb(22, 223, 22);
}
#losses {
	color: rgb(255, 0, 0);
}
#draws {
	color: rgb(189, 224, 63)
}